@model IEnumerable<Mvc.Models.mvcProdutosModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddOrEdit","Produtos")" class="btn btn-default"><i class="fa fa-plus"></i> Incluir Produto</a>
</p>
<table class="table table-striped">
    <thead class="table-hover">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estoque)
        </th>
        <th>Actions </th>
    </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td>
                <a href ="@Url.Action("AddOrEdit","Produtos", new {id = item.Codigo})" class="btn btn-default"><i class="fa fa-pencil"></i> Editar</a>
                <a onclick="Delete(@item.Codigo)" class="btn btn-default"><i class="fa fa-trash"></i> Deletar</a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function() {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Loja Virtual', 'Deseja excluir este produto?', function(){
                    window.location.href = '@Url.Action("Delete","Produtos")/'+id;
                },null);
        }
    </script>
}
