@model IList<LojaVirtual.Web.Models.Vendas>

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Html.DisplayNameFor(model => model[0].Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].Total)
        </dd>

    </dl>
</div>
<table class="table table-striped table-bordered table-hover m-0">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ValorUnit)
        </th>

        @*<th></th>*@
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnit)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model[0].ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
