@model IEnumerable<LojaVirtual.Web.Models.Vendas>

@{
    ViewBag.Title = "Index";
}

<h2>Tela de Vendas</h2>

<p>
    @*@Html.ActionLink("Criar", "Create")*@
    <a asp-action="Criar" href="Create" class="btn btn-primary float-right"><i class="fal fa-plus-circle"></i>&nbsp;&nbsp;Adicionar</a>
</p>
<div class="form-group mb-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover m-0">
            <thead class="thead-themed">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    
                    <th class="text-center">

                        @Html.DisplayNameFor(model => model.Cliente)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @*@Html.ActionLink("Editar", "Edit", new { id = item.ID }) |*@
                            <a asp-action="Criar"  href="Edit\@item.ID"  class="btn btn-success btn-sm"><i class="fal fa-plus-circle"></i>&nbsp;&nbsp;Editar</a>
                            <a asp-action="Detalhes"  href="Details\@item.ID"  class="btn btn-primary float-right btn-sm"><i class="fal fa-plus-circle"></i>&nbsp;&nbsp;Visualizar</a>
                            <a asp-action="Deletar"  href="Delete\@item.ID"  class="btn btn-danger float-right btn-sm"><i class="fal fa-plus-circle"></i>&nbsp;&nbsp;Excluir</a>
                            @*@Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Deletar", "Delete", new { id = item.ID })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
